In [1]:
import pandas as pd
import _pickle as cPickle
from utils import ivs
from tqdm import tqdm

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
calls = pd.read_feather('calls_bsm.feather')
calls.insert(1, 'option_type', 'C')
calls = calls.rename(columns={'C':'option_price'})

puts = pd.read_feather('puts_bsm.feather')
puts.insert(1, 'option_type', 'P')
puts = puts.rename(columns={'P':'option_price'})

In [4]:
# df = calls.append(puts).sort_values(['date', 't', 'K', 'option_type']).reset_index(drop=True)
df = calls.copy()
df.head()

,date,option_type,option_price,S,K,r,t,sigma
0,2006-01-03,C,25.000,1269.42,1245.0,0.040543,0.008248,0.116985
1,2006-01-03,C,11.700,1269.42,1260.0,0.040543,0.008248,0.118206
2,2006-01-03,C,3.075,1269.42,1275.0,0.040543,0.008248,0.114021
3,2006-01-03,C,0.325,1269.42,1290.0,0.040543,0.008248,0.110813
4,2006-01-03,C,0.250,1269.42,1500.0,0.040465,0.049344,0.308211

In [5]:
# for date, temp in tqdm(df.groupby('date')):
#     svi = ivs.SVI(date, temp)
#     with open(f'svi_res/{date}.pkl', 'wb') as f:
#         cPickle.dump(svi, f)

In [6]:
# for date, temp in tqdm(df.groupby('date')):
#     poly = ivs.PolynomialSurface(date, temp)
#     with open(f"poly_res/{date}.pkl", "wb") as f:
#         cPickle.dump(poly, f)

In [13]:
# for date, temp in tqdm(df.groupby('date')):
#     cubic = ivs.Cubic(date, temp)
#     with open(f"cubic_res/{date}.pkl", "wb") as f:
#         cPickle.dump(cubic, f)

100%|██████████████████████████████████████████████████████████████████████████████| 3607/3607 [09:47<00:00,  3.81it/s]